@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter/static/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Poppins";
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  body {
    @apply bg-keytaGray;
  }

  path {
    fill: currentColor !important;
  }

  .btn-outline-gray {
    @apply h-auto px-4 py-2 font-roboto  border-gray-300 border-[1px] rounded-md bg-white;
  }

  .yellow-box {
    @apply bg-[#FFF7E8] w-full rounded-md;
  }

  .rouded-card {
    @apply bg-white shadow-sm border-[1px] border-gray-200 rounded-xl;
  }

  .keyta-button {
    @apply rounded-sm  px-5 py-2.5 text-center min-w-[150px] bg-keytaSecondary text-keytaDark;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  .keyta-button:disabled,
  .keyta-button[disabled] {
    opacity: 0.5;
  }

  .material-input {
    @apply text-keytaDark;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #ced2d9;
    outline: 0;
  }
  .material-input:focus {
    border-bottom: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0);
  }

  .material-input-error,
  .material-input-error:focus {
    border-bottom: 2px solid red !important;
    background-color: rgba(0, 0, 0, 0);
  }

  .material-select > div > label {
    @apply font-roboto font-[900] text-keytaDark;
  }
}
