@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  @apply bg-keytaGray;
}

.keyta-button {
  @apply rounded-sm  px-5 py-2.5 text-center min-w-[150px] bg-keytaSecondary text-keytaDark;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.material-input {
  @apply text-keytaDark;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #CED2D9;
  outline: 0;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
}
.material-input:focus{
    border-bottom: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0);
}

.material-input-error, .material-input-error:focus {
    border-bottom: 1px solid red !important;
    background-color: rgba(0, 0, 0, 0);
}