.list {
  @apply  py-0;
}
.activeList {
  @apply bg-[#FFF7E8]  rounded-xl;
}
.activeList > a {
  color: #f5b22d !important;
}
.activeList > a > svg {
  fill: #f5b22d;
}

.list > a {
  @apply flex items-center py-3 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 hover:rounded-xl hover:text-keytaSecondary;
}
.list > a > span {
  @apply ml-4
}

.list > a > svg {
  /* @apply mr-4; */
}

.list > a {
  @apply  font-inter text-[#A1A9B3] text-[13px];
}

.header {
  @apply font-roboto text-[#A1A9B3] text-[15px] font-semibold;
}

.headerThin {
  @apply font-roboto text-[#A1A9B3] text-[14px] mb-4 font-light;
}
.dropdown {
  list-style: none;
}
.dropdownList {
  @apply font-inter text-[#A1A9B3] text-[14px] my-4;
}
